Trades
+ Адрес хранилища данных: points
Получение данных
Адрес хранилища данных: данные
+ download data
+ read file
Получение словаря датафремов трейдов
+ Данные: словарь датафреймов
+ method(type): type
Преобразования к таймфрему оси чарта
+ Датафрейм: Агрегированный датафрейм по таймфрему
+ Агрегация экзекьюшинов с разницей времени < 5s
+ Агрегация по таймфреймам
Рисование экзекьюшина на чарте
+ Dataframe: chart
+ plotly
главная программа
"Перенесение трейдов на график"
главная программа(передаем источник трейдов, источник таблиц для графиков, дата=последний рабочий день):
    обработка трейдов(источник трейдов, дата):
    датафрейм графика = обработка источника таблиц графика(источник таблиц графиков, дата=последний рабочий день)
    датафрейм трейдов = обработка источника хранилища (источник трейдов)
    рисуем график стака с точками входа(датафрейм графика, датафрейм трейдов)
Рисование чарта
Рисование трейдов
Candlestick
Хранилище данных: chart object
подготовка данных для графика
+ адрес хранилища данных: строка
Получение данных
+ адресс файла (строка): содержимое файла
+ чтение данных
Подготовка датафрейма
Объект данных: строка
+ csv to Dataframe
+ Convert Data
+ Prepare columns
Выбор времени
Датафрейм : рабочий датафрейм
+ обрезаем датафрейм до нужных данных
Получение таймфрейма
+ Dataframe : Dataframe
+ трансформация датафрейма 
   в нужный таймфрейм
Plotting
+ Dataframe: Plott
ploly candlestick
Чарт

деф главная программа(передаем источник трейдов, источник таблиц для графиков, дата=последний рабочий день):
    обработка трейдов(источник трейдов, дата):
    датафрейм графика = обработка источника таблиц графика(источник таблиц графиков, дата=последний рабочий день)
    датафрейм трейдов = обработка источника хранилища (источник трейдов)
    рисуем график стака с точками входа(датафрейм графика, датафрейм трейдов)

In [19]:
import pandas as pd
import re
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import datetime as dt

plotly.tools.set_credentials_file(username='mkf', api_key='crwJntc1jJsAdaHKiDPL')

In [28]:
def preprocessing_trades(trades_file):
    file_parsing = {}
    reindex = {a : b for a, b in zip(range(22), excel_df.iloc[2, :])}
    excel_df = excel_df.rename(columns=reindex)
    for i in range(len(excel_df)):
        if pd.notna(excel_df.iloc[i][0]):
            if re.match(r'\d{1,2}/\d{1,2}/\d{4}', excel_df.iloc[i][0]):
                date = excel_df.iloc[i][0]
                file_parsing[date] = {}
                continue

            elif re.match(r'^(\w+)\s{1,2}-\s.*', excel_df.iloc[i][0]):
                ticker = re.match(r'^(\w+)\s{1,2}-\s.*', excel_df.iloc[i][0])[1]
                file_parsing[date][ticker] = pd.DataFrame()
                continue

            elif excel_df.iloc[i][0] == 'Time':

                file_parsing[date][ticker].reindex(columns=excel_df.iloc[i])
                columns = excel_df.iloc[i]
                continue

            elif re.match(r'\d\d:\d\d:\d\d', excel_df.iloc[i][0]):
                file_parsing[date][ticker] = file_parsing[date][ticker].append(excel_df.iloc[i, :])
    return file_parsing

In [ ]:
def create_points(data):
    days_trades = preprocessing_trades(file_name)

In [4]:
def make_chart_df(chart_file):
    pass

In [5]:
def create_chart(chart_df):
    chart_df = pd.read_csv(chart_file, sep=';', decimal=',', header=0)
    chart_df[['Open', 'High', 'Low', 'Close', 'PC']] = chart_df[['Open', 'High', 'Low', 'Close', 'PC']].apply(lambda x:  round(x, 2))
    chart_df.insert(0, 'Date_Time', pd.to_datetime((chart_df['Date'] + ' ' + chart_df['Time']), dayfirst=True))

In [6]:
def draw_trades(trades_df):
    pass

In [7]:
def create_picture(chart_df, trades_df):
    create_chart(chart_df)
    draw_trades(trades_df)

In [24]:
trades_file = ''
chart_file = r'C:\Users\User\Documents\Old_comp\Chart 2016-07-16-09-54.csv'

In [15]:
if __name__ == '__main__':
    trades_df = processing_trades(trades_file)
    chart_df = make_chart_df(chart_file)
    create_picture(chart_df, trades_df)

In [64]:
chart_df = pd.read_csv(chart_file, sep=';', decimal=',', header=0)
chart_df[['Open', 'High', 'Low', 'Close', 'PC']] = chart_df[['Open', 'High', 'Low', 'Close', 'PC']].apply(lambda x:  round(x, 2))
chart_df.insert(0, 'Date_Time', pd.to_datetime((chart_df['Date'] + ' ' + chart_df['Time']), dayfirst=True))

In [66]:
chart_df.head()

            Date_Time        Date      Time   ...       Low   Close      PC
0 2016-07-15 15:55:00  15.07.2016  15:55:00   ...    215.79  215.81  216.12
1 2016-07-15 15:50:00  15.07.2016  15:50:00   ...    215.79  215.80  216.12
2 2016-07-15 15:45:00  15.07.2016  15:45:00   ...    215.83  215.83  216.12
3 2016-07-15 15:40:00  15.07.2016  15:40:00   ...    215.88  215.90  216.12
4 2016-07-15 15:35:00  15.07.2016  15:35:00   ...    215.98  216.03  216.12

[5 rows x 8 columns]

In [75]:
trace = go.Candlestick(x=chart_df.Date_Time,
                       open=chart_df.Open,
                       high=chart_df.High,
                       low=chart_df.Low,
                       close=chart_df.Close)
data = [trace]
#py.iplot(data)

In [9]:
excel_df = pd.read_excel(r'C:/Users/User/Downloads/07060212-2018-08-06-to-2018-08-09-detailed.xls', encoding='ASCII', header=None)

In [10]:
file_parsing = {}
reindex = {a : b for a, b in zip(range(22), excel_df.iloc[2, :])}
excel_df = excel_df.rename(columns=reindex)
#stock_execution = pd.DataFrame()
for i in range(len(excel_df)):
    if pd.notna(excel_df.iloc[i][0]):
        if re.match(r'\d{1,2}/\d{1,2}/\d{4}', excel_df.iloc[i][0]):
            date = excel_df.iloc[i][0]
            file_parsing[date] = {}
            continue
        
        #ticker_match = re.match(r'^(\w+)\s{1,2}-\s.*', excel_df.iloc[i][0])
        elif re.match(r'^(\w+)\s{1,2}-\s.*', excel_df.iloc[i][0]):
            ticker = re.match(r'^(\w+)\s{1,2}-\s.*', excel_df.iloc[i][0])[1]
            file_parsing[date][ticker] = pd.DataFrame()
            continue
        
        elif excel_df.iloc[i][0] == 'Time':
            
            file_parsing[date][ticker].reindex(columns=excel_df.iloc[i])
            columns = excel_df.iloc[i]
            continue
        
        #time_match = re.match(r'\d\d:\d\d:\d\d', excel_df.iloc[i][0])
        elif re.match(r'\d\d:\d\d:\d\d', excel_df.iloc[i][0]):
            file_parsing[date][ticker] = file_parsing[date][ticker].append(excel_df.iloc[i, :])

In [17]:
file_parsing['8/7/2018']['AVNS']

,nan,Acc,B/S,Clr,Comm,Ecn Fee,Fill Id,Gross,Liq,Misc,...,Net,ORF,Order Id,Position,Price,Qty,Route,SEC,TAF,Time
251,NaN,0.0,S,0.0,0.225,0.15,NaN,0.0,DK,0.0,...,-0.435,0.0,150666,-50.0,60.25,50.0,ARCA,0.04,0.01,09:27:00
252,NaN,0.0,T,0.0,0.225,0.15,NaN,0.0,DK,0.0,...,-0.435,0.0,150667,-100.0,60.25,50.0,ARCA,0.04,0.01,09:27:00
253,NaN,0.0,B,0.0,0.450,0.10,NaN,-175.0,5/,0.0,...,-175.560,0.0,150731,0.0,62.00,100.0,NYSE,0.00,0.00,09:31:50

In [137]:
text = 'EAF  - GRAFTECH INTERNATIONAL LTD'
re.match(r'^(\w+)\s{1,2}-\s.*', text)[1]

'EAF'

In [203]:
excel_df = excel_df.reindex(columns=excel_df.iloc[2, :])

In [33]:
for date, tickers in file_parsing.items():
    for ticker, df in tickers.items():
        print(f'{date} : {ticker} : {len(df)}')

8/6/2018 : ARLO : 53
8/6/2018 : DIS : 34
8/6/2018 : FB : 31
8/6/2018 : INTC : 8
8/6/2018 : JEC : 6
8/6/2018 : PX : 8
8/6/2018 : SEAS : 4
8/6/2018 : TSN : 2
8/6/2018 : TSRO : 16
8/7/2018 : AVNS : 3
8/7/2018 : MNK : 2
8/7/2018 : NWL : 4
8/7/2018 : ONCE : 12
8/7/2018 : THC : 6
8/7/2018 : TPVG : 4
8/7/2018 : XRAY : 12
8/7/2018 : Z : 7
8/8/2018 : DE : 3
8/8/2018 : WCG : 4
8/8/2018 : XL : 2
8/9/2018 : AGS : 15
8/9/2018 : BKNG : 8
8/9/2018 : EAF : 16
8/9/2018 : ELF : 3
8/9/2018 : KBSF : 2
8/9/2018 : RAD : 4
8/9/2018 : SNAP : 2
8/9/2018 : WP : 2

In [48]:
file_parsing['8/6/2018']['ARLO'][['Time', 'B/S', 'Qty', 'Price', 'Gross', 'Net', 'Order Id', 'Route']]

       Time B/S    Qty  Price   Gross      Net Order Id Route
3  09:22:20   B   88.0  22.54    0.00   -0.626   121819  CROX
4  09:22:20   B  112.0  22.52    0.00   -0.850   121819  ARCA
5  09:24:03   B  100.0  22.31    0.00   -0.760   123167  ARCA
6  09:31:18   B  100.0  21.55    0.00   -0.560   128583  NYSE
7  09:31:41   S  200.0  21.36 -233.76 -235.360   129324  EDGX

In [40]:
file_parsing['8/6/2018']['ARLO']

,nan,Acc,B/S,Clr,Comm,Ecn Fee,Fill Id,Gross,Liq,Misc,...,Net,ORF,Order Id,Position,Price,Qty,Route,SEC,TAF,Time
3,NaN,0.0,B,0.0,0.3960,0.220,NaN,0.00,T,0.0,...,-0.6260,0.0,121819,88.0,22.540,88.0,CROX,0.00,0.00,09:22:20
4,NaN,0.0,B,0.0,0.5040,0.336,NaN,0.00,DK,0.0,...,-0.8500,0.0,121819,200.0,22.520,112.0,ARCA,0.00,0.00,09:22:20
5,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,123167,300.0,22.310,100.0,ARCA,0.00,0.00,09:24:03
6,NaN,0.0,B,0.0,0.4500,0.100,NaN,0.00,5/,0.0,...,-0.5600,0.0,128583,400.0,21.550,100.0,NYSE,0.00,0.00,09:31:18
7,NaN,0.0,S,0.0,0.9000,0.600,NaN,-233.76,RT,0.0,...,-235.3600,0.0,129324,200.0,21.360,200.0,EDGX,0.06,0.03,09:31:41
8,NaN,0.0,S,0.0,0.4500,0.300,NaN,-143.00,RT,0.0,...,-143.8100,0.0,128682,100.0,20.880,100.0,EDGX,0.03,0.02,09:31:47
9,NaN,0.0,S,0.0,0.4500,0.300,NaN,-66.00,RT,0.0,...,-66.8100,0.0,128682,0.0,20.890,100.0,EDGX,0.03,0.02,09:31:47
10,NaN,0.0,S,0.0,0.9000,0.600,NaN,0.00,AS,0.0,...,-1.6000,0.0,137504,-200.0,20.790,200.0,ARCA,0.06,0.03,09:54:53
11,NaN,0.0,S,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.8100,0.0,138844,-300.0,20.875,100.0,ARCA,0.03,0.02,10:01:10
12,NaN,0.0,B,0.0,1.1250,0.750,NaN,-190.75,RT,0.0,...,-192.6350,0.0,138963,-50.0,21.570,250.0,EDGX,0.00,0.00,10:27:30
13,NaN,0.0,B,0.0,0.2250,0.150,NaN,-35.25,RT,0.0,...,-35.6350,0.0,138963,0.0,21.580,50.0,EDGX,0.00,0.00,10:27:30
21,NaN,0.0,T,0.0,0.9000,0.600,NaN,0.00,AS,0.0,...,-2.0800,0.0,105923,-200.0,204.850,200.0,ARCA,0.54,0.03,09:00:43
22,NaN,0.0,T,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-1.0500,0.0,109207,-300.0,204.600,100.0,ARCA,0.27,0.02,09:04:23
23,NaN,0.0,B,0.0,0.4500,0.300,NaN,-5.00,DK,0.0,...,-5.7600,0.0,117581,-200.0,204.900,100.0,ARCA,0.00,0.00,09:17:25
24,NaN,0.0,B,0.0,0.4500,0.300,NaN,-13.00,DK,0.0,...,-13.7600,0.0,117831,-100.0,204.980,100.0,ARCA,0.00,0.00,09:17:36
25,NaN,0.0,B,0.0,0.4500,0.300,NaN,-38.00,DK,0.0,...,-38.7600,0.0,117831,0.0,204.980,100.0,ARCA,0.00,0.00,09:17:36
26,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,133891,100.0,205.920,100.0,ARCA,0.00,0.00,09:41:18
27,NaN,0.0,S,0.0,0.4500,0.350,NaN,168.00,X,0.0,...,166.9000,0.0,136030,0.0,207.600,100.0,ARCA,0.27,0.02,09:48:26
28,NaN,0.0,B,0.0,0.2250,-0.125,NaN,0.00,P,0.0,...,-0.1100,0.0,136133,50.0,207.355,50.0,CROX,0.00,0.00,09:52:04
29,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,137779,150.0,206.640,100.0,ARCA,0.00,0.00,09:55:57
30,NaN,0.0,S,0.0,0.0630,0.042,NaN,-13.37,RT,0.0,...,-13.5350,0.0,137815,136.0,206.400,14.0,EDGX,0.04,0.01,09:57:14
31,NaN,0.0,S,0.0,0.2250,0.150,NaN,-37.74,RT,0.0,...,-38.2750,0.0,137815,86.0,206.400,50.0,EDGX,0.14,0.01,09:57:14
32,NaN,0.0,S,0.0,0.0495,0.033,NaN,-2.64,RT,0.0,...,-2.7725,0.0,137815,75.0,206.400,11.0,EDGX,0.03,0.01,09:57:14
33,NaN,0.0,S,0.0,0.3375,0.225,NaN,-18.75,RT,0.0,...,-19.5425,0.0,137815,0.0,206.390,75.0,EDGX,0.21,0.01,09:57:14
34,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,138250,100.0,206.620,100.0,ARCA,0.00,0.00,09:58:10
35,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,AS,0.0,...,-0.7600,0.0,138248,200.0,206.600,100.0,ARCA,0.00,0.00,09:58:12
36,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,142530,300.0,207.170,100.0,ARCA,0.00,0.00,10:20:12
37,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,142530,400.0,207.170,100.0,ARCA,0.00,0.00,10:20:12
38,NaN,0.0,S,0.0,0.9000,0.600,NaN,-24.00,RT,0.0,...,-26.0800,0.0,143451,200.0,206.490,200.0,EDGX,0.54,0.03,10:29:50
39,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,144048,300.0,206.530,100.0,ARCA,0.00,0.00,10:30:12
40,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,144048,400.0,206.540,100.0,ARCA,0.00,0.00,10:30:12
41,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,144048,500.0,206.540,100.0,ARCA,0.00,0.00,10:30:12
42,NaN,0.0,S,0.0,0.4500,0.300,NaN,-49.00,DK,0.0,...,-50.0500,0.0,144173,400.0,206.680,100.0,ARCA,0.27,0.02,10:31:01
43,NaN,0.0,S,0.0,0.4500,0.300,NaN,-43.00,AS,0.0,...,-44.0500,0.0,144164,300.0,206.740,100.0,ARCA,0.27,0.02,10:31:04
44,NaN,0.0,B,0.0,0.0675,0.045,NaN,0.00,DK,0.0,...,-0.1225,0.0,144952,315.0,206.950,15.0,ARCA,0.00,0.00,10:36:28
45,NaN,0.0,B,0.0,0.3825,0.255,NaN,0.00,DK,0.0,...,-0.6475,0.0,144952,400.0,206.950,85.0,ARCA,0.00,0.00,10:36:28
46,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,144952,500.0,206.950,100.0,ARCA,0.00,0.00,10:36:28
47,NaN,0.0,S,0.0,0.4500,0.300,NaN,96.00,DK,0.0,...,94.9500,0.0,146165,400.0,207.490,100.0,ARCA,0.27,0.02,10:45:17
48,NaN,0.0,S,0.0,0.0450,0.030,NaN,13.60,AS,0.0,...,13.4750,0.0,146478,390.0,207.900,10.0,ARCA,0.03,0.01,10:47:54
49,NaN,0.0,S,0.0,0.2160,-0.096,NaN,65.28,A,0.0,...,65.0100,0.0,146478,342.0,207.900,48.0,ARCA,0.13,0.01,10:47:57
50,NaN,0.0,S,0.0,0.1890,-0.084,NaN,57.12,A,0.0,...,56.8750,0.0,146478,300.0,207.900,42.0,ARCA,0.12,0.01,10:48:02
51,NaN,0.0,S,0.0,0.4500,0.300,NaN,141.00,DK,0.0,...,139.9400,0.0,147316,200.0,207.950,100.0,ARCA,0.28,0.02,10:54:08
52,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,DK,0.0,...,-0.7600,0.0,149988,300.0,207.795,100.0,ARCA,0.00,0.00,11:12:52
53,NaN,0.0,B,0.0,0.4500,0.250,NaN,0.00,T,0.0,...,-0.7100,0.0,150226,400.0,207.790,100.0,CROX,0.00,0.00,11:14:53
54,NaN,0.0,S,0.0,0.9000,0.600,NaN,104.00,RT,0.0,...,101.9200,0.0,150231,200.0,207.470,200.0,EDGX,0.54,0.03,11:18:43
55,NaN,0.0,B,0.0,0.2250,0.150,NaN,0.00,AS,0.0,...,-0.3850,0.0,150676,250.0,207.550,50.0,ARCA,0.00,0.00,11:19:45
56,NaN,0.0,B,0.0,0.4500,0.300,NaN,0.00,AS,0.0,...,-0.7600,0.0,150676,350.0,207.550,100.0,ARCA,0.00,0.00,11:19:45
57,NaN,0.0,B,0.0,0.2250,-0.100,NaN,0.00,A,0.0,...,-0.1350,0.0,150676,400.0,207.550,50.0,ARCA,0.00,0.00,11:19:46
58,NaN,0.0,S,0.0,0.4500,0.300,NaN,-60.50,DK,0.0,...,-61.5500,0.0,152267,300.0,207.190,100.0,ARCA,0.27,0.02,11:33:51
59,NaN,0.0,S,0.0,0.4500,-0.200,NaN,-34.00,A,0.0,...,-34.5500,0.0,151700,200.0,207.450,100.0,ARCA,0.27,0.02,11:36:40
60,NaN,0.0,S,0.0,0.4500,0.300,NaN,-59.00,W,0.0,...,-60.0500,0.0,154433,100.0,206.960,100.0,EDGX,0.27,0.02,13:31:52
61,NaN,0.0,S,0.0,0.0045,0.003,NaN,-0.59,W,0.0,...,-0.6275,0.0,154433,99.0,206.960,1.0,EDGX,0.01,0.01,13:31:52
62,NaN,0.0,S,0.0,0.4455,0.297,NaN,-58.41,RT,0.0,...,-59.4525,0.0,154433,0.0,206.960,99.0,EDGX,0.27,0.02,13:31:52

In [49]:
def transform_one_df_to_date_axis(date, ticker, detailed_df):
    important_columns = ['Time', 'B/S', 'Qty', 'Price', 'Gross', 'Net', 'Order Id', 'Route']
    executions = detailed_df[date][ticker][important_columns]
    
    


def transform_to_date_axis(file_parsing, tickers=None):
    if not tickers:
        
        days_trades = preprocessing_trades(file_name)

In [69]:
date = '8/6/2018'
ticker = 'ARLO'
detailed_df = file_parsing
important_columns = ['Order Id', 'Time', 'B/S', 'Qty', 'Price', 'Gross', 'Net', 'Route']
executions = detailed_df[date][ticker][important_columns]
executions['BP'] = executions['Price'] * executions['Qty']

E:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [57]:
executions[['Time', 'B/S']]({'Time': 'first', 'B/S' : 'first'})

TypeError: 'DataFrame' object is not callable

In [76]:
executions_by_order = executions.groupby('Order Id').agg(({'Time': 'first', 'B/S' : 'first', 'Qty' : 'sum', 'Gross' : 'sum', 'Route' : 'first', 'BP': 'sum'}))
executions_by_order['Price'] = round(executions_by_order['BP'] / executions_by_order['Qty'], 3)
executions_by_order

              Time B/S    Qty   Gross Route        BP    Price
Order Id
105923    09:00:43   T  200.0    0.00  ARCA  40970.00  204.850
109207    09:04:23   T  100.0    0.00  ARCA  20460.00  204.600
117581    09:17:25   B  100.0   -5.00  ARCA  20490.00  204.900
117831    09:17:36   B  200.0  -51.00  ARCA  40996.00  204.980
121819    09:22:20   B  200.0    0.00  CROX   4505.76   22.529
123167    09:24:03   B  100.0    0.00  ARCA   2231.00   22.310
128583    09:31:18   B  100.0    0.00  NYSE   2155.00   21.550
128682    09:31:47   S  200.0 -209.00  EDGX   4177.00   20.885
129324    09:31:41   S  200.0 -233.76  EDGX   4272.00   21.360
133891    09:41:18   B  100.0    0.00  ARCA  20592.00  205.920
136030    09:48:26   S  100.0  168.00  ARCA  20760.00  207.600
136133    09:52:04   B   50.0    0.00  CROX  10367.75  207.355
137504    09:54:53   S  200.0    0.00  ARCA   4158.00   20.790
137779    09:55:57   B  100.0    0.00  ARCA  20664.00  206.640
137815    09:57:14   S  150.0  -72.50  EDGX  30959.25  206.395
138248    09:58:12   B  100.0    0.00  ARCA  20660.00  206.600
138250    09:58:10   B  100.0    0.00  ARCA  20662.00  206.620
138844    10:01:10   S  100.0    0.00  ARCA   2087.50   20.875
138963    10:27:30   B  300.0 -226.00  EDGX   6471.50   21.572
142530    10:20:12   B  200.0    0.00  ARCA  41434.00  207.170
143451    10:29:50   S  200.0  -24.00  EDGX  41298.00  206.490
144048    10:30:12   B  300.0    0.00  ARCA  61961.00  206.537
144164    10:31:04   S  100.0  -43.00  ARCA  20674.00  206.740
144173    10:31:01   S  100.0  -49.00  ARCA  20668.00  206.680
144952    10:36:28   B  200.0    0.00  ARCA  41390.00  206.950
146165    10:45:17   S  100.0   96.00  ARCA  20749.00  207.490
146478    10:47:54   S  100.0  136.00  ARCA  20790.00  207.900
147316    10:54:08   S  100.0  141.00  ARCA  20795.00  207.950
149988    11:12:52   B  100.0    0.00  ARCA  20779.50  207.795
150226    11:14:53   B  100.0    0.00  CROX  20779.00  207.790
150231    11:18:43   S  200.0  104.00  EDGX  41494.00  207.470
150676    11:19:45   B  200.0    0.00  ARCA  41510.00  207.550
151700    11:36:40   S  100.0  -34.00  ARCA  20745.00  207.450
152267    11:33:51   S  100.0  -60.50  ARCA  20719.00  207.190
154433    13:31:52   S  200.0 -118.00  EDGX  41392.00  206.960